In [4]:
import pandas as pd
data =[[ 'T0001','Anuj Maheta','5','1355'],
       [ 'T0002','Sandeep Oza','2','1169'],
       [ 'T0003','Manvi Sharma','6','1988'],
        ]
booking =pd.DataFrame(data,columns=['Tcode','Name','Tickets','Amount'])
print(booking.to_string(index=False))

 Tcode          Name Tickets Amount
 T0001   Anuj Maheta       5   1355
 T0002   Sandeep Oza       2   1169
 T0003  Manvi Sharma       6   1988

In [5]:
#Qn 2
data =[ ['Sofa','Wooden','Maroon',25000],
       ['Dining Table','Plywood','Yellow',20000],
       ['Chair','Plastic','Red',1500],
       ['Sofa','Stainless Steel','Silver',55000],
       ['Chair','Wooden','Light Blue',2500],
       ['Dining Table','Aluminum','Golden',65000]]
furniture =pd.DataFrame(data,columns=['Item','Material','Color','Price'])
print(furniture.to_string(index=False))

         Item         Material       Color  Price
         Sofa           Wooden      Maroon  25000
 Dining Table          Plywood      Yellow  20000
        Chair          Plastic         Red   1500
         Sofa  Stainless Steel      Silver  55000
        Chair           Wooden  Light Blue   2500
 Dining Table         Aluminum      Golden  65000

In [6]:
print(furniture[furniture['Item']=='Sofa'],'\n',
     furniture[furniture['Item']=='Chair'])

   Item         Material   Color  Price
0  Sofa           Wooden  Maroon  25000
3  Sofa  Stainless Steel  Silver  55000
     Item Material       Color  Price
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500

In [7]:
print(furniture[furniture['Price']>25000])

           Item         Material   Color  Price
3          Sofa  Stainless Steel  Silver  55000
5  Dining Table         Aluminum  Golden  65000

In [8]:
print(furniture[furniture['Price']<10000])

    Item Material       Color  Price
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500

In [9]:
print(furniture.iloc[::2])

    Item Material       Color  Price
0   Sofa   Wooden      Maroon  25000
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500

In [15]:
#Qn 3
data = {'House':['Blue House','Red House','Green House','Yellow House'],
           'Activity1':[98,87,59,78],
           'Activity2':[85,76,67,99],
           'Activity3':[88,89,91,55]}
furniture = pd.DataFrame(data)
print(furniture.to_string(index=False))

        House  Activity1  Activity2  Activity3
   Blue House         98         85         88
    Red House         87         76         89
  Green House         59         67         91
 Yellow House         78         99         55

In [16]:
r={'Term1':200,'Term2':189}
g={'Term1':350,'Term2':250}
b={'Term1':400,'Term2':400}
y={'Term1':300,'Term2':300}
c ={'Red':r,'Green':g,'Blue':b,'Yellow':y}
df =pd.DataFrame(c)
print(df)

       Red  Green  Blue  Yellow
Term1  200    350   400     300
Term2  189    250   400     300