What is a series?<br>
Series is an obj that holds data which can add label
to  a particular data. <br><br>

why this label ? what is label ?
adding label to color or using it as a index<br><br>

Series is a part of pandas mudule <br><br>

Firsstly import pandas<br><br>

<b>By default series uses index number as label

In [1]:
import pandas as pd

In [3]:
animals=['Tiger','Bear', 'Mouse']
pd.Series(animals)

0    Tiger
1     Bear
2    Mouse
dtype: object

In [4]:
numbers=[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals=['Tiger','Bear',None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [6]:
#int value is converting into float  when None is also passed
#none is getting as NAN(not a number)
numbers=[1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [ ]:
import numpy as np
np.nan ==None

In [ ]:
np.isnan(np.nan)

In [ ]:
#in dict key is treated as label and value as value itself
sports={
    'Archery': 'Bhutan',
    'Golf':'scotland',
    'Sumo':'Japan',
    'Taekwondo' : 'South Koreo'}

s=pd.Series(sports)
s

In [ ]:
s.values #value keyword is used to get values of series

In [ ]:
#index keyword is used to get index of series
s.index

In [ ]:
#first list is value and list passed by index keyword is indexs
s=pd.Series(['Tiger','Bear', 'Mouse'],index=['India','America','Canada'])
s

In [ ]:
#query from series
sports={
    'Archery': 'Bhutan',
    'Golf':'scotland',
    'Sumo':'Japan',
    'Taekwondo' : 'South Koreo'}
s=pd.Series(sports,index=['Golf','Sumo','Hockey'])
s

In [28]:
sports={
    'Archery': 'Bhutan',
    'Golf':'scotland',
    'Sumo':'Japan',
    'Taekwondo' : 'South Koreo'}

s=pd.Series(sports)
s

Archery           Bhutan
Golf            scotland
Sumo               Japan
Taekwondo    South Koreo
dtype: object

In [29]:
s.iloc[3]

# both are same
s[3]

'South Koreo'

In [30]:
s.loc['Golf']
# both are same
s['Golf']

'scotland'

In [36]:
sports={99 :'Bhutan',
       100:'Scotland',
       101: 'Japan',
       102:'South korea'}

s=pd.Series(sports)

s

99          Bhutan
100       Scotland
101          Japan
102    South korea
dtype: object

In [37]:
#s[0]
#going to give as error because series index name are integer 
# S[0] 0 is index number or index name
#0 is treated as index name

In [38]:
s =pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [39]:
total =0
for item in s:
    total +=item
print(total)

324.0

In [40]:
import numpy as np
total =np.sum(s)
print(total)

324.0

In [44]:
#this creates a big series of random numbers
import numpy as np
s = pd.Series(np.random.randint(0,1000,10000))
print(s.head())
s.tail(8)

0    864
1    570
2    190
3    923
4    646
dtype: int32

9992    586
9993    605
9994    159
9995    636
9996    620
9997    685
9998    687
9999    934
dtype: int32

In [45]:
s =pd.Series([1,2,3]) #series is immutable 
s.loc['Animal'] = 'Bears'
s[3]="907"
s

0           1
1           2
2           3
Animal    907
dtype: object

In [47]:
original_sports = pd.Series({'Archery': 'Bhutan',
                            'Golf': 'Scotland',
                            'Sumo': 'Japan',
                            'Taekwondo':'South Korea'})
cricket_loving_countries =pd.Series(['Australia',
                                    'Barbados',
                                    'Pakistan',
                                     'England'],
                                   index=['Cricket',
                                         'Cricket',
                                         'Cricket',
                                         'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [48]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [49]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [50]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object